
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Favorite sport</title>
  </head>

  <body>
    <h1>Favorite sport</h1>
    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSwGoDVUDPLd8f_397Fp9BrLKlu-6msu0sSiT0LeEZQ8Ga2228z">

    <!-- Insert Your Form Below -->
<form method="POST" action ="/sport">
  <p>Your name: <input type="text"
  name = "name"></p>
  <p>Favorite sport: <input type="text"
  name = "favorite_sport"> </p>
  
  <input type="submit">
  </form>

  </body>
</html>
